﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NetFtick</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.vectorstock.com/i/2000v/47/67/movie-icon-vector-23534767.avif" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>
                        <div class="dropdown">
                            <span class="dropdown-toggle nav-link active" type="button" data-bs-toggle="dropdown">
                                ADMIN
                            </span>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/Movie/List">Movies</a></li>
                                <li><a class="dropdown-item" href="/Category/List">Film genres</a></li>
                                <li><a class="dropdown-item" href="/Company/List">Companies</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <span class="dropdown-toggle nav-link active" type="button" data-bs-toggle="dropdown">
                                Demo High Chart
                            </span>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="/Statistical/MoviePieChart">Pie charts</a></li>
                                <li><a class="dropdown-item" href="/Statistical/MovieColChart">Column and bar charts</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <span class="dropdown-toggle nav-link active" type="button" data-bs-toggle="dropdown">
                                Demo Real Grid
                            </span>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton3">
                                <li><a class="dropdown-item" href="/RealGrid/Movie">Movies</a></li>
                                <li><a class="dropdown-item" href="/RealGrid/Category">Categories</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container ">
        <div class="mb-5">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NetFtick Application</p>
        </footer>
    </div>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
