﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="https://cdn.vectorstock.com/i/2000v/47/67/movie-icon-vector-23534767.avif" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2 style="color:red">An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
