﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int currentPage = (Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex);
}
@using Movies.MVC.ViewModel;
@using Movies.MVC.Helper;
@model PaginatedList<MovieVM>

<h2 class="mt-4 mb-4">Home</h2>
<div>
    <div class="row mt-4 mb-4">
        <select id="slt_fillter" class="form-select w-25" aria-label="Default select example">
            <option value="default">Fillter by Category</option>
            @foreach (Movies.DomainClass.Models.Category category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <select id="slt_sort" class="form-select w-25 mx-2" aria-label="Default select example">
            <option value="default">Order By</option>
            <option value="1">Hitting</option>
            <option value="2">Release</option>
        </select>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Release</th>
                    <th scope="col">Hitting</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                    foreach (Movies.MVC.ViewModel.MovieVM movie in Model)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td role="button"><a class="text-decoration-none text-dark" href="/movie/detail?id=@movie.id">@movie.Title</a></td>
                            <td>@movie.Release</td>
                            <td>@movie.Hitting</td>
                        </tr>
                        count += 1;
                    }
                }
            </tbody>
        </table>
    </div>
    <center class="align-self-center">
        <div class=" pb-2">Page <span id="spn-currenPage">@currentPage</span> / @Model.TotalPages</div>
        <div>
            <button class="btn btn-outline-primary" onclick="PreviousPage(@currentPage)">Previous</button>
            @for (int i = 0; i < Model.TotalPages; i++)
            {
                <button class="btn btn-outline-primary btn-paginated">@(i + 1)</button>
            }
            <button class="btn btn-outline-primary" onclick="NextPage(@currentPage, @Model.TotalPages)">Next</button>
        </div>
    </center>
</div>
<div class="visually-hidden">
    <div id="is-sort" class="visually-hidden-focusable">@ViewBag.Sort</div>
    <div id="is-fillter" class="visually-hidden-focusable">@ViewBag.Fillter</div>
</div>
<script type="text/javascript" src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/Js/Index.js"></script>