﻿
@{
    ViewBag.Title = "Statistical movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highcharts Example</title>

    <style type="text/css">
        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 320px;
            max-width: 800px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

        input[type="number"] {
            min-width: 50px;
        }
    </style>
</head>
<body>
    <script src="~/Scripts/high-chart/highcharts.js"></script>
    <script src="~/Scripts/high-chart/modules/exporting.js"></script>
    <script src="~/Scripts/high-chart/modules/accessibility.js"></script>
    <script src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Js/Statistical.js"></script>

    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            Superhero, action, and adventure films tend to consistently hold top positions in terms of box office revenue and popularity with audiences.
            Major blockbuster franchises like the Marvel Cinematic Universe and DC films often attract very large audiences.
            <hr />
            Horror and fantasy/sci-fi genres are also very popular, especially among younger viewers. Hits like "It" and "Frozen" are good examples.
            <hr />
            Romantic, comedy, and inspirational/feel-good films also maintain a strong foothold in the market.
        </p>
    </figure>



    <script type="text/javascript">
        var dataChart = [];
        //ajax call back
        GetStatisticalMoviePie(function (err, data) {
             if (err) {
                console.error(err);
                return;
             }
             dataChart = data;
             Highcharts.chart('container', {
                 chart: {
                     type: 'pie'
                 },
                 title: {
                     text: 'Movie Statistics By Genre'
                 },
                 tooltip: {
                     valueSuffix: '%'
                 },
                 subtitle: {
                     text:
                         'Source:<a href="/" target="_default">My NetFtick Application</a>'
                 },
                 plotOptions: {
                     series: {
                         allowPointSelect: true,
                         cursor: 'pointer',
                         dataLabels: [{
                             enabled: true,
                             distance: 20
                         }, {
                             enabled: true,
                             distance: -40,
                             format: '{point.percentage:.1f}%',
                             style: {
                                 fontSize: '1.2em',
                                 textOutline: 'none',
                                 opacity: 0.7
                             },
                             filter: {
                                 operator: '>',
                                 property: 'percentage',
                                 value: 10
                             }
                         }]
                     }
                 },
                 series: [
                     {
                         name: 'Percentage',
                         colorByPoint: true,
                         data: dataChart,
                     }
                 ]
             });
        });

        

        

    </script>
</body>
</html>
