﻿
@{
    ViewBag.Title = "Create movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="mt-4 mb-4">Create Movie</h2>
<div class="container px-5 my-5">
    <form id="create-form">
        <div class="form-floating mb-3">
            <input class="form-control" id="filmName" type="text" placeholder="Film name" required />
            <label for="filmName">Film name</label>
            <p class="text-danger" id="filmName-error"></p>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="hitting" type="number" placeholder="Hitting" required />
            <label for="hitting">Hitting</label>
            <p class="text-danger" id="hitting-error"></p>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="category" aria-label="Category">
                @foreach (Movies.DomainClass.Models.Category category in ViewBag.Category)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <label for="category">Category</label>
            <p class="text-danger" id="category-error"></p>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="company" aria-label="Company">
                @foreach (Movies.DomainClass.Models.PublishCompany publishCompany in ViewBag.PublisCPN)
                {
                    <option value="@publishCompany.Id">@publishCompany.Name</option>
                }
            </select>
            <label for="company">Company</label>
            <p class="text-danger" id="company-error"></p>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="publishDay" required />
            <label for="publishDay">Publish day</label>
            <p class="text-danger" id="publishDay-error"></p>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="imageLink" type="text" placeholder="Image link" required />
            <label for="imageLink">Image link</label>
            <p class="text-danger" id="imageLink-error"></p>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="description" type="text" placeholder="Description" style="height: 10rem;" required></textarea>
            <label for="description">Description</label>
            <p class="text-danger" id="description-error"></p>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="btn-create" type="button">Create Movie</button>
        </div>
    </form>
    <p class="text-danger" id="general-error"></p>
</div>
<script type="text/javascript" src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/Js/Movie.js"></script>

