﻿
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Movies.MVC.ViewModel.DetailMovieVM
<h2 class="mt-4 mb-4">Detail Movie</h2>
<section class="mt-5 mb-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-2"></div>
            <div class="col-5">
                <img id="mainImg" style="max-width:500px" class="card-img-top mb-5 mb-md-0" src="@Model.ImageLink" alt="..." />
            </div>
            <div class="col-5">
                <h3 class="text-danger fw-bold">NETFTICK</h3>
                <h2>🎥 <strong>@Model.Title</strong></h2>
                <ul class="t-0">
                    <li><p>Publish at: <strong>@Model.CreateAt</strong> </p></li>
                    <li><p>Film Genre: <strong>@Model.CategoryName</strong> </p></li>
                    <li><p>Company: <strong>@Model.PublishCompanyName</strong></p></li>
                    <li><p>Hitting: <strong>@Model.Hitting</strong>.</p></li>
                </ul>
                <div class="border rounded p-1" style="background:rgba(204, 204, 204, 0.51)">
                    <h4 class="text-success m-2 fw-bold">Content</h4>
                    <div>
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>