﻿@{
    ViewBag.Title = "List movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int currentPage = (Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex);
}
@using Movies.MVC.ViewModel;
@using Movies.MVC.Helper;
@model PaginatedList<MovieVM>
<h2 class="mt-4 mb-4"><a class="text-decoration-none" href="/Movie/List">List Movies</a></h2>
<div>
    <div class="input-group mt-5 mb-3">
        <input type="text" placeholder="Enter to search by name..." class="form-control ng-pristine ng-touched" id="search-value" value="@ViewBag.fillter">
        <button type="button" class="btn-signup btn btn-primary fw-500" id="search-movie">Seacrch</button>
    </div>
    <div class="container">
        @if (Model == null)
        {
            <h1>NO DATA FOUND!</h1>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-2">#</th>
                        <th scope="col" class="col-8">Title</th>
                        <th scope="col" class="col-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                        foreach (Movies.MVC.ViewModel.MovieVM movie in Model)
                        {
                            <tr>
                                <th scope="row">@count</th>
                                <td role="button"><a class="text-decoration-none text-dark" href="/movie/detail?id=@movie.id">@movie.Title</a></td>
                                <td>
                                    <button class="btn btn-success" id="update-movie" onclick="RedirectUpdate(@movie.id)">Update</button>
                                    <button class="btn btn-danger" id="delete-movie" onclick="Delete(@movie.id)">Delete</button>
                                </td>
                            </tr>
                            count += 1;
                        }
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="d-grid mt-4 mb-5">
        <button class="btn btn-primary btn-lg" onclick="RedirectCreate()" type="button">Create a new Movie</button>
    </div>
    <center class="align-self-center">
        <div class=" pb-2">Page <span id="spn-currenPage">@currentPage</span> / @Model.TotalPages</div>
        <div>
            <button class="btn btn-outline-primary" onclick="PreviousPage(@currentPage)">Previous</button>
            @for (int i = 0; i < Model.TotalPages; i++)
            {
                <button class="btn btn-outline-primary btn-paginated">@(i + 1)</button>
            }
            <button class="btn btn-outline-primary" onclick="NextPage(@currentPage, @Model.TotalPages)">Next</button>
        </div>
    </center>
</div>
<script type="text/javascript" src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/Js/Movie.js"></script>
