﻿
@{
    ViewBag.Title = "Update movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Movies.MVC.ViewModel.UpdateMovieVM
<h2 class="mt-4 mb-4">Update Movie</h2>
<div class="container px-5 my-5">
    <form id="contactForm">
        <div class="form-floating mb-3">
            <input class="form-control" id="filmName" type="text" placeholder="Film name" required  value="@Model.Title"/>
            <label for="filmName">Title</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="hitting" type="number" placeholder="Hitting" required  value="@Model.Hitting"/>
            <label for="hitting">Hitting</label>
            <p class="text-danger" id="hitting-error"></p>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="category" aria-label="Category">
                @foreach (Movies.DomainClass.Models.Category category in ViewBag.Category)
                {
                    if (Model.CategoryName == category.Name)
                    {
                        <option selected value="@category.Id">@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>

                    }
                }
            </select>
            <label for="category">Category</label>
            <p class="text-danger" id="category-error"></p>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="company" aria-label="Company">
                @foreach (Movies.DomainClass.Models.PublishCompany publishCompany in ViewBag.PublisCPN)
                {
                    if (Model.PublishCompanyName == publishCompany.Name)
                    {
                        <option selected value="@publishCompany.Id">@publishCompany.Name</option>
                    }
                    else
                    {
                        <option value="@publishCompany.Id">@publishCompany.Name</option>
                    }
                }
            </select>
            <label for="company">Company</label>
            <p class="text-danger" id="company-error"></p>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="publishDay" required value="@Model.CreateAt"/>
            <label for="publishDay">Publish day</label>
            <p class="text-danger" id="publishDay-error"></p>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="imageLink" type="text" placeholder="Image link" required value="@Model.ImageLink" />
            <label for="imageLink">Image link</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="description" type="text" placeholder="Description" style="height: 10rem;" required>@Model.Description</textarea>
            <label for="description">Description</label>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="btn-update" type="button">Update Movie</button>
        </div>
    </form>
    <p id="general-error"></p>
    <div class="visually-hidden">
        <div id="movieId" class="visually-hidden-focusable">@Model.id</div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/Js/Movie.js"></script>
