﻿
@{
    ViewBag.Title = "Demo RG(Category)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Scripts/realgrid/realgrid-style.css">
<script type="text/javascript" src="~/Scripts/realgrid/libs/jszip.min.js"></script>
<script type="text/javascript" src="~/Scripts/realgrid/realgrid-lic.js"></script>
<script type="text/javascript" src="~/Scripts/realgrid/realgrid.min.js"></script>

<h2>Category</h2>

<div id="realgrid" style="width:100%; height:500px"></div>
<script type="text/javascript" src="~/Scripts/Js/DemoCategoryRealGrid.js"></script>
<script src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>


