﻿
@{
    ViewBag.Title = "Demo RG(Movie)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie</h2>

<link rel="stylesheet" href="~/Scripts/realgrid/realgrid-style.css">
<script type="text/javascript" src="~/Scripts/realgrid/libs/jszip.min.js"></script>
<script type="text/javascript" src="~/Scripts/realgrid/realgrid-lic.js"></script>
<script type="text/javascript" src="~/Scripts/realgrid/realgrid.min.js"></script>

<div id="realgrid" style="width:100%; height:500px"></div>
<script type="text/javascript" src="~/Scripts/Js/DemoMovieRealGrid.js"></script>
<script src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>

