﻿
@{
    ViewBag.Title = "StockingConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StockingConfirmation</h2>

<div class="container w-50 border border-dark">
    <div class="ms-5 mt-3">
        <div class="row mb-4">
            <label for="input-scan" class="col-4 me-3 border border-dark">Scan</label>
            <input id="input-scan" class="col-6" />
        </div>
        <div class="row mb-4">
            <label for="input-building" class="col-4 me-3 border border-dark">Receiving factory/building</label>
            <input id="input-building" class="col-6" />
        </div>
        <div class="row mb-4">
            <label for="input-stocking" class="col-4 me-3 border border-dark">receiving stocking</label>
            <input id="input-stocking" class="col-6" />
        </div>
        <div class="row mb-4">
            <label for="input-confirm-date" class="col-4 me-3 border border-dark">Confirmation date time</label>
            <input id="input-confirm-date" class="col-6" />
        </div>
    </div>
    <hr class="border border-2 border-primary" />
    <div class="d-flex justify-content-between mb-3">
        <button class="btn border border-dark">Cancel Confirlmation</button>
        <button class="btn border border-dark">Receiving stocking confirmation</button>
    </div>
</div>

