﻿
@{
    ViewBag.Title = "List geners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Movies.DomainClass.Models.Category>
<h2 class="mt-4 mb-4"><a class="text-decoration-none" href="/Category/List">List Film Geners</a></h2>
<div>
    <div class="input-group mt-5 mb-3">
        <input type="text" placeholder="Enter to search by name..." class="form-control ng-pristine ng-touched" id="search-value" value="@ViewBag.fillter">
        <button type="button" class="btn-signup btn btn-primary fw-500" id="search-category">Seacrch</button>
    </div>
    <div class="container">
        @if (!Model.Any())
        {
            <h1>NO DATA FOUND!</h1>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-2">#</th>
                        <th scope="col" class="col-8">Title</th>
                        <th scope="col" class="col-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                        foreach (Movies.DomainClass.Models.Category category in Model)
                        {
                            <tr>
                                <th scope="row">@count</th>
                                <td role="button"><a class="text-decoration-none text-dark">@category.Name</a></td>
                                <td>
                                    <button class="btn btn-success" id="update-category" onclick="RedirectUpdate(@category.Id)">Update</button>
                                    <button class="btn btn-danger" id="delete-category" onclick="Delete(@category.Id)">Delete</button>
                                </td>
                            </tr>
                            count += 1;
                        }
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="d-grid mt-4 mb-5">
        <button class="btn btn-primary btn-lg" onclick="RedirectCreate()" type="button">Create a new Film Gener</button>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/Js/Category.js"></script>

