﻿
@{
    ViewBag.Title = "Update film gener";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Movies.DomainClass.Models.Category
<h2 class="mt-4 mb-4">Update Film Gener</h2>
<div class="container px-5 my-5">
    <form id="create-form">
        <div class="form-floating mb-3">
            <input class="form-control" id="categoryName" type="text" placeholder="Category name" required value="@Model.Name" />
            <label for="categoryName">Category name</label>
            <p class="text-danger" id="categoryName-error"></p>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="description" type="text" placeholder="Description" style="height: 10rem;" required>@Model.Description</textarea>
            <label for="description">Description</label>
            <p class="text-danger" id="description-error"></p>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="btn-update" type="button">Update Film Gener</button>
        </div>
    </form>
    <p class="text-danger" id="general-error"></p>
    <div class="visually-hidden">
        <div id="categoryId" class="visually-hidden-focusable">@Model.Id</div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/Js/Category.js"></script>
